SGSST/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18124/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18124/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18124/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Capa_Datos" />
      <xsd:import schemaLocation="http://localhost:18124/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CapaServ" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MsjAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:MsjAsync" />
  </wsdl:message>
  <wsdl:message name="IService1_MsjAsync_OutputMessage">
    <wsdl:part name="parameters" element="tns:MsjAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_add_Riesgos_Default_InputMessage">
    <wsdl:part name="parameters" element="tns:add_Riesgos_Default" />
  </wsdl:message>
  <wsdl:message name="IService1_add_Riesgos_Default_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_Riesgos_DefaultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_add_NormasSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:add_NormasSucursal" />
  </wsdl:message>
  <wsdl:message name="IService1_add_NormasSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_NormasSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_add_MedidasSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:add_MedidasSucursal" />
  </wsdl:message>
  <wsdl:message name="IService1_add_MedidasSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_MedidasSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MsjAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MsjAsync" message="tns:IService1_MsjAsync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MsjAsyncResponse" message="tns:IService1_MsjAsync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_Riesgos_Default">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/add_Riesgos_Default" message="tns:IService1_add_Riesgos_Default_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/add_Riesgos_DefaultResponse" message="tns:IService1_add_Riesgos_Default_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_NormasSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/add_NormasSucursal" message="tns:IService1_add_NormasSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/add_NormasSucursalResponse" message="tns:IService1_add_NormasSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_MedidasSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/add_MedidasSucursal" message="tns:IService1_add_MedidasSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/add_MedidasSucursalResponse" message="tns:IService1_add_MedidasSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsjAsync">
      <soap:operation soapAction="http://tempuri.org/IService1/MsjAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add_Riesgos_Default">
      <soap:operation soapAction="http://tempuri.org/IService1/add_Riesgos_Default" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add_NormasSucursal">
      <soap:operation soapAction="http://tempuri.org/IService1/add_NormasSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add_MedidasSucursal">
      <soap:operation soapAction="http://tempuri.org/IService1/add_MedidasSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:18124/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>