SGSST/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Capa_Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Capa_Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Model_UsuarioSistema">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id_empresa" type="xs:int" />
      <xs:element minOccurs="0" name="Id_sucursal" type="xs:int" />
      <xs:element minOccurs="0" name="Id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="Rol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model_UsuarioSistema" nillable="true" type="tns:Model_UsuarioSistema" />
</xs:schema>